.navbars {
    border-bottom: 1px solid rgb(0 0 0);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    background: var(--beige);
}

.navbar--primary {
    background: var(--beige) !important;
    padding-top: 0.5rem;
}

.navbar--primary .uk-navbar-left {
    margin-right: 0.5rem; 
}

.navbar.navbar--secondary {
    display: none;
    background: var(--beige) !important;
}


.navbar-brand {
    display: flex;
    /* align-items: baseline; */
    flex-direction: row;
    gap: 0.25rem;
    position: relative;
}
  
@media screen and (max-width: 640px)  {
    .navbar-brand {
        flex-direction: column;
        align-items: center;
    }
}

.navbar__image {
    /* position: absolute; */
    z-index: 1;
    max-height: 200px;
    height: 100% !important;
    /* left: -25px; */
    /* top: 14px; */
    /* opacity: 0.5; */
    /* display: none; */
}

.flex-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.flex-col-end {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.navbar__title {  
    line-height: 2.5rem;
    font-size: 44px;
    font-weight: 700;
    color: black;
}

.navbar__subtitle {
    color: rgb(45, 142, 94);  
    text-shadow: #090907 1px 1px;
    font-size: 29px;
    font-weight: 700;
    /* margin: -40px 0px 11px 67px; */
}

@media (max-width: 768px) {
    .navbar__subtitle {
        font-size: 12px;
    }
}


.social {
    display: flex;
    flex-wrap: nowrap;
    gap: 0.5rem;
    flex: 1 0 auto;
}

.social>* {
    margin-left: ;
}

.uk-offcanvas.uk-open {
    display: block;
}

.sidenav__items {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.sidenav__header {
    margin-bottom: 1rem;
}

.sidenav {
    background: var(--beige) !important;
    box-shadow: .25rem .25rem 0rem var(--shadow-color);
    border-right: var(--border-1);
}

.button__menu {
    margin-left: auto;
}

.navbar--primary {
    display: flex;
    flex-wrap: nowrap;
}

.uk-icon {
    min-width: 20px;
}


@media (max-width: 768px) {
    .navbar--primary .button--plain {
        padding: 0.5rem;
    }
}

.nav__menu {
    justify-content: space-between;
    padding-top: 1rem;
}