.leading-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-rows: repeat(3, minmax(0, 240px));
    /* grid-template-areas:
        "l l m"
        "s1 s2 s3"; */
    row-gap: 1rem;
    column-gap: 1rem;
}

.l {
    grid-area: l;
    position: relative;

    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
    height: 100%;
}

.m {
    /* grid-area: m; */
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.s1 {
    /* grid-area: s1; */
}

.s2 {
    /* grid-area: s2; */
}

.s3 {
    /* grid-area: s3; */
}

.l .leading-post__title {
    font-size: 2rem;
    font-size: clamp(1.0rem, 0.5rem + 5vw, 3rem);
    line-height: clamp(1.0rem, 0.5rem + 5vw, 3rem);
}

.item-w--big {
    flex: 1 1 0;
    height: 100%;
}

@media screen and (max-width: 960px) {
    .leading-grid {
        grid-template-columns: repeat(6, minmax(0, 1fr));
        grid-template-rows: repeat(3, minmax(0, 240px));
    }

    .l {
        grid-column: span 6;
    }

    .m {
        grid-column: span 3;
    }

    .s {
        grid-column: span 2;
    }
}

@media screen and (max-width: 767px) {
    .leading-grid {
        grid-template-columns: repeat(6, minmax(0, 1fr));
        grid-template-rows: repeat(3, minmax(0, 240px));
    }

    .l {
        grid-column: span 6;
    }

    .m {
        grid-column: span 6;
    }

    .s {
        grid-column: span 6;
    }

    .item-w--small .item__image-w {
        max-width: 100% !important;
        max-height: 200px !important;
    }


    /* 
    .browser-title, .content-w {
        position: relative !important;
        width: 100% !important;
    }
    
    .item-w--big .image-w {
        flex: 1 1 140px !important;
    } */

}

.item {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--border-color);
    overflow: hidden;
    border-radius: 4px;
    background: white;
}

.item__image {
    border-bottom: 1px solid var(--border-color);
}

.item__content {
    padding: 1rem;
}


.item--horizontal {
    flex-direction: row;
    border: 1px solid var(--border-color);
    height: 140px;
}

.item--horizontal .item__image {
    border-bottom: none;
    max-width: 200px;
    border-right: 1px solid var(--border-color);
}

.item-w {
    display: flex;
    flex-direction: row;

    position: relative;
    --shadow-offset: 14px;
    --border-radius: 10px;
}

.item-w .post-info {
    margin-bottom: 0;
}

.item-w--big {
    flex-direction: column;
    margin-bottom: -1rem;
}

.item-w--big .image-w {
    height: 100%;
}

.item-w--big .item__image-w {
    height: 100%;
    width: auto;
    margin: 0;
}

.item-w--big .item__content-w {
    margin: 0;
    /* margin-top: -2rem; */
    /* margin-left: -1rem; */
    /* width: calc(100% - 2rem); */
}


.folder {
    border: 2px solid var(--border-color);
    position: absolute;
    right: -2px;
    top: -21px;
    border-bottom: white;
    z-index: 2;
    background: white;
    border-radius: 10px 10px 0px 0;
    overflow: hidden;
}

.folder .tag {
    display: block;
    margin: 0;

}

.image-w {
    /* flex: 0 0 140px; */
}

.content-w {
    flex: 1 0 0;
    z-index: 1;
    position: absolute;
    bottom: 0;
}

.item__image-w {
    overflow: hidden;
    width: auto;
    /* width: 140px; */

    border: 2px solid #000;
    border-radius: var(--border-radius);

    z-index: 10;
    /* margin-top: -1rem; */
    /* margin-right: -1rem; */
    /* margin-left: 0rem; */
    /* margin-bottom: 1rem; */
    --shadow-color: #ff8ac5;
    box-shadow: var(--shadow-offset) var(--shadow-offset) 0 var(--shadow-color, #000);
}

.item-w--small .item__image-w {
    /* width: 140px;
    height: 140px; */

    height: 100%;
    max-width: 30vw;
    max-height: 400px;
}

.item-w--small .content-w {
    right: 0;
}

.item__content-w {
    border: 2px solid var(--border-color);
    /* border-radius: var(--border-radius); */
    background: white;
    padding: 1rem;

    position: relative;
    /* margin-top: 1rem; */
    /* margin-left: -2rem; */
    --shadow-color: #ff8ac5;
    /* box-shadow: var(--shadow-offset) var(--shadow-offset) 0 var(--shadow-color, #000); */
    width: 100%;
}

.blocks>*:last-child {
    margin-bottom: 0;
}