:root {
  --beige: rgb(244, 244, 240);
  --hot-pink: rgb(255, 144, 232);

  --border-color: rgb(0 0 0);
  --font-family: "Space Grotesk", sans-serif;

  --border-1: 1px solid var(--border-color);
  --border-2: 2px solid var(--border-color);
  --border-3: 3px solid var(--border-color);

  --title-color: rgb(0 0 0);
  --shadow-color: rgb(0 0 0);

  --blue: #00b3f4;
  --blue-dark: #321c64;

  --green: #d1ffee;
  --green-dark: #2ac3a2;

  --orange: #ffb587;
  --orange-dark: #ff8a50;

  --orange-alt: #ffd567;
  --orange-alt-dark: #e27f2e;

  --pink-alt: #ffdfe7;
  --pink-alt-dark: #08403f;

  --purple: #e7dfff;
  --purple-dark: #9059ff;

  --pink: #ffdfe7;
  --pink-dark: #ff8ac5;
}

body {
  font-family: var(--font-family);
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;


  background-color: var(--beige);
}

* {
  box-sizing: border-box;
}

.uk-h1,
.uk-h2,
.uk-h3,
.uk-h4,
.uk-h5,
.uk-h6,
.uk-heading-2xlarge,
.uk-heading-large,
.uk-heading-medium,
.uk-heading-small,
.uk-heading-xlarge,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family) !important;
}

a {
  text-decoration: none !important;
}

#category {
  font-weight: 500 !important;
}

#title {
  letter-spacing: 0.4px !important;
  font-size: 22px !important;
  font-size: 1.375rem !important;
  line-height: 1.13636 !important;
}

#banner {
  margin: 20px !important;
  height: 800px !important;
}

#editor {
  font-size: 16px !important;
  font-size: 1rem !important;
  line-height: 1.75 !important;
}

.first-color {
  background: #66bfbf;
}

.second-color {
  background: #eaf6f6;
}

.third-color {
  background: #fcfefe;
}

.fourth-color {
  background: #f76b8a;
}

.section_gradient {
  background: rgb(255, 172, 208);
  border-bottom: 1px solid rgb(0 0 0);
/*   
  --c1: #00b3f4;
  --c2: #4dcfff; */
  
  --c1: #ffdfe7;
  --c2: #ffc5e2;

  background-color: var(--c1);
  background-image: linear-gradient(135deg, var(--c1) 25%, transparent 25%), linear-gradient(225deg, var(--c1) 25%, transparent 25%), linear-gradient(45deg, var(--c1) 25%, transparent 25%), linear-gradient(315deg, var(--c1) 25%, var(--c2) 25%);
  background-position: 40px 0, 40px 0, 0 0, 0 0;
  background-size: 80px 80px;
  background-repeat: repeat;
}

img:hover {
  opacity: 1 !important;
  transition: opacity 0.25s cubic-bezier(0.39, 0.575, 0.565, 1) !important;
}


.card--big {
  height: 100%;
}

.card--small {
  height: 50%;
}


.post__title,
.post .post-info {
  white-space: pre;
}

.hot-news__item:hover .hot-news__title,
.post:hover .post__title,
.detail-post:hover .detail-post__title {
  color: #999;
}

.hot-news__title,
.post__title,
.detail-post__title {
  transition: color 0.2s ease;
}

.post__title,
.hot-news__title {
  font-size: 1.1rem;
  color: #303030;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.post-info {
  font-size: 12px;
}

.post-info__author,
.post-info__date,
.detail-info__author,
.detail-info__date {
  display: flex;
  align-items: center;
}

.post-info__author,
.detail-info__author {
  font-weight: bold;
}

.post-info__separator,
.detail-info__separator {
  margin: 0 5px;
}

.post-info .data-uk-icon {
  margin-right: 2px;
}

.post-info .data-uk-icon>svg {
  height: 14px;
}

.post--hot .post__thumbnail,
.hot-news__thumbnail {
  margin-bottom: 15px;
  max-height: 200px;
  overflow: hidden;
}

.post-wrapper {}

.leading-post {
  position: relative;
  margin-bottom: 30px;
}

.leading-post .post-info,
.post .post-info {
  margin: 0
}

.leading-post__title {
  color: black;
}

.leading-post .leading-post__title {
  transition: color 0.1s ease;
}

.leading-post:hover .leading-post__title {
  color: #E72076;
  text-shadow: 1px 1px black;
  /* font-weight: 500; */
}

.leading-post__content {
  z-index: 1;
  color: white;
  padding: 0 14px 18px 14px;
  position: absolute;
  bottom: 0;

  background-image: linear-gradient(to bottom, #ffffff00, #000000ba);
  left: 0;
  right: 0;
}

.leading-post__category {
  display: inline-block;
  padding: 2px 8px;
  font-size: 10px;
  font-weight: 500;
  color: white;
}

.leading-post__category--red {
  background: red;
}

.uk-height-small-medium {
  height: 225px;
}

.play-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.play-icon>.uk-icon {
  background-color: rgba(0, 0, 0, 0.48);
  border-radius: 100%;
}


.leading-post {
  overflow: hidden;
}

.leading-post__thumbnail {
  transition: transform 0.2s ease-in-out;
}

.leading-post:hover .leading-post__thumbnail {
  transform: scale(1.1);
}

.hot-news__thumbnail {
  overflow: hidden;
}

.hot-news__thumbnail img {
  transition: all 0.2s ease-in-out !important;
}

.hot-news__thumbnail:hover img {
  transform: scale(1.1);
}

.word-cloud {}

.word-cloud__word {
  color: #333;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
}

.word-cloud__word:hover {
  color: #E72076;
}

.bg-primary {
  background: var(--blue);
  color: black;
}

.button--rounded {
  font-size: 1rem;
  line-height: 1.5;
  padding: .5rem .75rem;
  border-radius: .25rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.14s ease-out;
  background-color: var(--beige);

  border: solid .0625rem transparent;
  border-radius: 10rem;
  color: rgb(0, 0, 0) !important;
}

.button--rounded:hover {
  /* background-color: rgb(255, 144, 232); */
  border-color: rgb(0 0 0);
}

.button--rounded[aria-current="page"] {
  border-color: rgb(0 0 0);
}

.button--rounded:hover:not(:active) {
  transform: translate(-0.25rem, -0.25rem);
  box-shadow: .25rem .25rem 0rem rgb(0 0 0);
}

.navbar-nav {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
}

.button--plain {
  font-size: 1rem;
  line-height: 1.5;
  padding: .75rem 1rem;
  border: solid 1px rgb(0 0 0);
  border-radius: .25rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.14s ease-out;
  background-color: white;
  color: black;

  fill: black;
}

.button--plain:hover {
  background-color: var(--hot-pink);
  color: rgb(0, 0, 0);
}

.button--plain:hover:not(:active) {
  transform: translate(-0.25rem, -0.25rem);
  box-shadow: .25rem .25rem 0rem rgb(0 0 0);
}

.tags-nav {
  display: flex;
  /* flex-wrap: wrap; */
  align-items: center;
  gap: 1rem;

  margin: 1rem 0;
  padding: 1rem;
  overflow: auto;
}

.tags-area {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.25rem;
  padding: 0.5rem;

  overflow: auto;
}

.tags-area a, .tags-nav a {
  white-space: pre;
  background: white;
  border: 1px solid var(--border-color);
}

.tags-area-container .area__content {
  flex: 1 0 0px;
  flex-basis: 0px;
  overflow: auto;
}

.pointer {
  width: 100px;
  height: 100px;
  position: absolute;
  bottom: -25px;
  right: -50px;
  z-index: 20;

  display: none;
}

article:hover .pointer {
  display: block;
}

.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

a.stretched-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

a.uk-link-text:hover {
  color: black;
}

.mb-1 {
  margin-bottom: 0.5rem;
}

.mb-2 {
  margin-bottom: 1rem;
}

.pb-1 {
  padding-bottom: 0.5rem !important;
}

.area--grow {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.area--grow>.area__content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.blue {
  background-color: #d1ffee;
  --shadow-color: #2ac3a2;
}

.uk-slider-items .card {
  height: 100%;
}

.section {
  border-bottom: var(--border-1);
}


@media screen and (min-width: 960px) {
  .uk-visible\@m {
    display: block !important;
  }
}

@media screen and (min-width: 640px) {
  .uk-visible\@s {
    display: block !important;
  }
}

.carded {
  padding: 1rem;
  border: var(--border-1);
  background-color: white;
}

.comic__image {
  margin-top: 1rem;
  display: block;
  height: auto;
}

main {
  margin-top: 247px;
}

@media screen and (min-width: 640px)  {
  main {
    margin-top: 286px;
  }
}